In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np

# Format data

field ที่จะใช้คือ 

1.  PM10
2.  temp
3.  Rel Hum
4.  Wind speed
5.  Wind dir

Optional 

1.   ความสูงเหนือระดับน้ำทะเลของพื้นที่
2.   temperature Inversion
3.   ความเร็วลม ณ ความสูงอื่นๆ

In [ ]:
tf = pd.read_csv('/content/drive/MyDrive/DataScience_finalproject/Traffics/traffic_hour/traffic_hour.csv')

In [ ]:
traffic = tf[["ปี/เดือน/วัน","ชั่วโมง","index"]]
traffic

       ปี/เดือน/วัน  ชั่วโมง     index
0            120101      100  0.208333
1            120101      200  0.000000
2            120101      300  0.000000
3            120101      400  0.000000
4            120101      500  0.000000
...             ...      ...       ...
83220        220430     2000  4.225000
83221        220430     2100  3.541667
83222        220430     2200  2.425000
83223        220430     2300  2.391667
83224        220430     2400  2.058333

[83225 rows x 3 columns]

In [ ]:
before_20t2 = before_20t.join(traffic.set_index(['ปี/เดือน/วัน','ชั่วโมง']), on=['ปี/เดือน/วัน','ชั่วโมง'])

# *H*

In [ ]:
import os
from os import walk

In [ ]:
path = "/content/drive/MyDrive/DataScience_finalproject/PCD Data/Data before 2020-9/0hasPM2.5col/H"

In [ ]:
filelist = []
for (dirpath, dirnames, filenames) in walk(path):
    filelist += filenames

In [ ]:
filelist

['(78t)ศูนย์พัฒนาเด็กเล็กเทศบาลเมืองเบตง จ.ยะลา.xlsx',
 '(71t)โรงเรียนอนุบาลศรีอรัญโญทัย จ.สระแก้ว.xlsx',
 '(72t)สำนักงานสาธารณสุขจังหวัดเลย.xlsx',
 '(50t)โรงพยาบาลจุฬาลงกรณ์.xlsx']

In [ ]:
def colRename(df):
  cols = list(df.columns)
  if "WS" in cols :
    df.rename(columns={"WS":'Wind speed'},inplace = True)
  if ' Wind speed' in cols :
    df.rename(columns={' Wind speed':'Wind speed'},inplace = True)
  if "WD" in cols :
    df.rename(columns={"WD":'Wind dir'},inplace = True)
  if ' Wind dir' in cols :
    df.rename(columns={' Wind dir':'Wind dir'},inplace = True)
  if ' Temp' in cols :
    df.rename(columns={' Temp':'Temp'},inplace = True)
  if ' TEMP' in cols :
    df.rename(columns={' TEMP':'Temp'},inplace = True)
  if 'TEMP' in cols :
    df.rename(columns={'TEMP':'Temp'},inplace = True)
  if "RH" in cols :
    df.rename(columns={"RH":'Rel hum'},inplace = True)
  if ' Rel hum' in cols :
    df.rename(columns={' Rel hum':'Rel hum'},inplace = True)
  if "PM10(มคก./ลบ.ม.)" in cols:
    df.rename(columns={"PM10(มคก./ลบ.ม.)":"PM10"},inplace = True)
  if ' PM10' in cols:
    df.rename(columns={' PM10':"PM10"},inplace = True)
  if ' PM2.5' in cols:
    df.rename(columns={' PM2.5':'PM2.5'},inplace = True)
  if "ปี/เดือน/วัน.1" in cols:
    df.rename(columns={"ปี/เดือน/วัน.1":"ปี/เดือน/วัน"},inplace = True)

In [ ]:
filepath = path+"/"+filelist[0]
result = pd.read_excel(filepath,usecols="A:H", na_values="-")
result.drop(index=result.index[0], axis=0, inplace=True)
colRename(result)

result["Station"] = filelist[0][1:4]

#join to traffic
result = result.join(traffic.set_index(['ปี/เดือน/วัน','ชั่วโมง']), on=['ปี/เดือน/วัน','ชั่วโมง'])

In [ ]:
result

,ปี/เดือน/วัน,ชั่วโมง,PM10,PM2.5,Wind speed,Wind dir,Temp,Rel hum,Station,index
1,191201.0,100.0,16,4,0.4,89,22.7,96,78t,1.354545
2,191201.0,200.0,13,4,0.4,116,22.6,96,78t,1.350000
3,191201.0,300.0,16,3,0.3,69,22.5,96,78t,1.366667
4,191201.0,400.0,13,3,0.5,103,22.5,96,78t,1.225000
5,191201.0,500.0,11,2,0.3,129,22.5,96,78t,1.883333
...,...,...,...,...,...,...,...,...,...,...
7316,200930.0,2000.0,19,10,0.4,233,27.2,78,78t,5.466667
7317,200930.0,2100.0,20,8,0.4,75,25.7,90,78t,4.166667
7318,200930.0,2200.0,21,10,0.4,242,24.8,95,78t,2.091667
7319,200930.0,2300.0,16,12,0.1,231,24.4,96,78t,1.725000
7320,200930.0,2400.0,22,10,0.2,264,24.2,96,78t,2.158333

In [ ]:
result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7320 entries, 1 to 7320
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ปี/เดือน/วัน  7320 non-null   float64
 1   ชั่วโมง       7320 non-null   float64
 2   PM10          7221 non-null   object
 3   PM2.5         7200 non-null   object
 4   Wind speed    7233 non-null   object
 5   Wind dir      7250 non-null   object
 6   Temp          7271 non-null   object
 7   Rel hum       7270 non-null   object
 8   Station       7320 non-null   object
 9   index         7319 non-null   float64
dtypes: float64(3), object(7)
memory usage: 629.1+ KB

In [ ]:
for f in filelist[1:]:
  filepath = path+"/"+f
  df = pd.read_excel(filepath,usecols="A:H",na_values="-")
  df.drop(index=df.index[0], axis=0, inplace=True)
  
  colRename(df)

  # add station column
  df["Station"] = f[1:4]

  # join traffic
  df = df.join(traffic.set_index(['ปี/เดือน/วัน','ชั่วโมง']), on=['ปี/เดือน/วัน','ชั่วโมง'])

  result = result.append(df,ignore_index=True)

In [ ]:
result

,ปี/เดือน/วัน,ชั่วโมง,PM10,PM2.5,Wind speed,Wind dir,Temp,Rel hum,Station,index,CO,NO2
0,191201.0,100.0,16,4,0.4,89,22.7,96,78t,1.354545,NaN,NaN
1,191201.0,200.0,13,4,0.4,116,22.6,96,78t,1.350000,NaN,NaN
2,191201.0,300.0,16,3,0.3,69,22.5,96,78t,1.366667,NaN,NaN
3,191201.0,400.0,13,3,0.5,103,22.5,96,78t,1.225000,NaN,NaN
4,191201.0,500.0,11,2,0.3,129,22.5,96,78t,1.883333,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
207475,200930.0,2000.0,26,16,NaN,NaN,29.8,56,50t,5.466667,1.32,16
207476,200930.0,2100.0,23,18,NaN,NaN,29.4,59,50t,4.166667,1.07,14
207477,200930.0,2200.0,29,15,NaN,NaN,29,62,50t,2.091667,0.98,14
207478,200930.0,2300.0,32,20,NaN,NaN,28.8,63,50t,1.725000,0.75,12
207479,200930.0,2400.0,32,19,NaN,NaN,28.5,62,50t,2.158333,0.91,10

In [ ]:
result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207480 entries, 0 to 207479
Data columns (total 12 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   ปี/เดือน/วัน  207480 non-null  float64
 1   ชั่วโมง       207480 non-null  float64
 2   PM10          166661 non-null  object
 3   PM2.5         70177 non-null   object
 4   Wind speed    148860 non-null  object
 5   Wind dir      149160 non-null  object
 6   Temp          184150 non-null  object
 7   Rel hum       183632 non-null  object
 8   Station       207480 non-null  object
 9   index         174158 non-null  float64
 10  CO            27486 non-null   object
 11   NO2          27604 non-null   object
dtypes: float64(3), object(9)
memory usage: 19.0+ MB

# *I*

In [ ]:
result1 = result.copy()

In [ ]:
filepath = "/content/drive/MyDrive/DataScience_finalproject/PCD Data/Data before 2020-9/0hasPM2.5col/I/(33t)โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านเขาหิน.xlsx"
df = pd.read_excel(filepath,usecols="A:I", na_values="-")
df.drop(index=df.index[0], axis=0, inplace=True)
colRename(df)

df["Station"] = "33t"

#join to traffic
df = df.join(traffic.set_index(['ปี/เดือน/วัน','ชั่วโมง']), on=['ปี/เดือน/วัน','ชั่วโมง'])

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 61392 entries, 1 to 61392
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ปี/เดือน/วัน  61392 non-null  float64
 1   ชั่วโมง       61392 non-null  float64
 2    NO2          56867 non-null  object
 3   O3            56582 non-null  object
 4   PM10          59925 non-null  object
 5   Wind speed    59946 non-null  object
 6   Wind dir      60285 non-null  object
 7   Temp          60090 non-null  object
 8   PM2.5         16511 non-null  object
 9   Station       61392 non-null  object
 10  index         55126 non-null  float64
dtypes: float64(3), object(8)
memory usage: 5.6+ MB

In [ ]:
result = result.append(df,ignore_index=True)

In [ ]:
result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 268872 entries, 0 to 268871
Data columns (total 13 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   ปี/เดือน/วัน  268872 non-null  float64
 1   ชั่วโมง       268872 non-null  float64
 2   PM10          226586 non-null  object
 3   PM2.5         86688 non-null   object
 4   Wind speed    208806 non-null  object
 5   Wind dir      209445 non-null  object
 6   Temp          244240 non-null  object
 7   Rel hum       183632 non-null  object
 8   Station       268872 non-null  object
 9   index         229284 non-null  float64
 10  CO            27486 non-null   object
 11   NO2          84471 non-null   object
 12  O3            56582 non-null   object
dtypes: float64(3), object(10)
memory usage: 26.7+ MB

# *J*

In [ ]:
result1 = result.copy()

In [ ]:
# result = result1.copy()
# result

In [ ]:
path = "/content/drive/MyDrive/DataScience_finalproject/PCD Data/Data before 2020-9/0hasPM2.5col/J"

In [ ]:
filelist = []
for (dirpath, dirnames, filenames) in walk(path):
    filelist += filenames

In [ ]:
filelist

['(60t)สำนักงานเทศบาลตำบลทุ่งสะเดา จ.ฉะเชิงเทรา.xlsx',
 '(27t)โรงเรียนสมุทรสาครวิทยาลัย.xlsx',
 '(03t)ริมถนนกาญจนาภิเษก เขตบางขุนเทียน.xlsx',
 '(28t)สำนักงานสาธารณสุขอำเภอปลวกแดง.xlsx',
 '(53t)สถานีตำรวจนครบาลโชคชัย.xlsx',
 '(61t)โรงเรียนบดินทรเดชา (สิงห์ สิงหเสนี).xlsx',
 '(32t)สนามกีฬาเทศบาลแหลมฉบัง.xlsx',
 '(73t)สำนักงานสาธารณสุขแม่สาย.xlsx']

In [ ]:
for f in filelist:
  filepath = path+"/"+f
  df = pd.read_excel(filepath,usecols="A:J",na_values="-")
  df.drop(index=df.index[0], axis=0, inplace=True)
  
  colRename(df)

  # add station column
  df["Station"] = f[1:4]

  # join traffic
  df = df.join(traffic.set_index(['ปี/เดือน/วัน','ชั่วโมง']), on=['ปี/เดือน/วัน','ชั่วโมง'])

  result = result.append(df,ignore_index=True)

In [ ]:
result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 729408 entries, 0 to 729407
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   ปี/เดือน/วัน  729408 non-null  float64
 1   ชั่วโมง       729408 non-null  float64
 2   PM10          623243 non-null  object
 3   PM2.5         243734 non-null  object
 4   Wind speed    615758 non-null  object
 5   Wind dir      618110 non-null  object
 6   Temp          653871 non-null  object
 7   Rel hum       262494 non-null  object
 8   Station       729408 non-null  object
 9   index         611937 non-null  float64
 10  CO            153034 non-null  object
 11   NO2          386935 non-null  object
 12  O3            375311 non-null  object
 13   SO2          269749 non-null  object
dtypes: float64(3), object(11)
memory usage: 77.9+ MB

# *K*

In [ ]:
# result1 = result.copy()

In [ ]:
# result = result1.copy()
# result

In [ ]:
path = "/content/drive/MyDrive/DataScience_finalproject/PCD Data/Data before 2020-9/0hasPM2.5col/K"

In [ ]:
filelist = []
for (dirpath, dirnames, filenames) in walk(path):
    filelist += filenames
filelist

['(63t)สนามโรงพิธีช้างเผือก จ.ยะลา.xlsx',
 '(70t)สนามกีฬาจังหวัดพะเยา.xlsx',
 '(77t)ศาลาประชาคมบ้านบุยายใบ จ.ปราจีนบุรี.xlsx',
 '(62t)ศาลากลางจังหวัดนราธิวาส.xlsx',
 '(70T)อุทยานการเรียนรู้ องค์การบริหารส่วนจังหวัดพะเยา (ปิดสถานี).xlsx',
 '(46t)ส่วนอุทกวิทยา สำนักงานทรัพยากรน้ำภาค 4 ขอนแก่น.xlsx',
 '(76t)ศูนย์การศึกษานอกโรงเรียน จ.ตาก.xlsx',
 '(34t)สำนักงานสิ่งแวดล้อมภาคที่ 13.xlsx',
 '(36t)โรงเรียนยุพราชวิทยาลัย.xlsx',
 '(35t)ศูนย์ราชการจังหวัดเชียงใหม่.xlsx',
 '(59t)กรมประชาสัมพันธ์.xlsx',
 '(26t)สำนักงานสิ่งแวดล้อมภาคที่ 8 ราชบุรี.xlsx']

In [ ]:
p = path+"/"+filelist[0]
resultdic = pd.read_excel(p,usecols="A:K",na_values="-",sheet_name=None)

result = resultdic[list(resultdic.keys())[1]]
result.drop(index=result.index[0], axis=0, inplace=True)

colRename(result)

result["Station"] = filelist[0][1:4]

result = result.join(traffic.set_index(['ปี/เดือน/วัน','ชั่วโมง']), on=['ปี/เดือน/วัน','ชั่วโมง'])

In [ ]:
result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32856 entries, 1 to 32856
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ปี/เดือน/วัน  32856 non-null  float64
 1   ชั่วโมง       32856 non-null  float64
 2   CO            25840 non-null  object
 3   NO2           27521 non-null  object
 4   O3            27540 non-null  object
 5   PM10          27627 non-null  object
 6   PM2.5         27723 non-null  object
 7   Wind speed    27495 non-null  object
 8   Wind dir      27561 non-null  object
 9   Temp          28842 non-null  object
 10  Rel hum       28842 non-null  object
 11  Station       32856 non-null  object
 12  index         29773 non-null  float64
dtypes: float64(3), object(10)
memory usage: 3.5+ MB

In [ ]:
for f in filelist[1:]:
  filepath = path+"/"+f
  df0 = pd.read_excel(filepath,usecols="A:K",na_values="-",sheet_name=None)
  print(f)
  for sheet in list(df0.keys()):
    df = df0[sheet]
    df.drop(index=df.index[0], axis=0, inplace=True)
  
    colRename(df)

    # add station column
    df["Station"] = f[1:4]

    # join traffic
    df = df.join(traffic.set_index(['ปี/เดือน/วัน','ชั่วโมง']), on=['ปี/เดือน/วัน','ชั่วโมง'])

    result = result.append(df,ignore_index=True)

(70t)สนามกีฬาจังหวัดพะเยา.xlsx
(77t)ศาลาประชาคมบ้านบุยายใบ จ.ปราจีนบุรี.xlsx
(62t)ศาลากลางจังหวัดนราธิวาส.xlsx
(70T)อุทยานการเรียนรู้ องค์การบริหารส่วนจังหวัดพะเยา (ปิดสถานี).xlsx
(46t)ส่วนอุทกวิทยา สำนักงานทรัพยากรน้ำภาค 4 ขอนแก่น.xlsx
(76t)ศูนย์การศึกษานอกโรงเรียน จ.ตาก.xlsx
(34t)สำนักงานสิ่งแวดล้อมภาคที่ 13.xlsx
(36t)โรงเรียนยุพราชวิทยาลัย.xlsx
(35t)ศูนย์ราชการจังหวัดเชียงใหม่.xlsx
(59t)กรมประชาสัมพันธ์.xlsx
(26t)สำนักงานสิ่งแวดล้อมภาคที่ 8 ราชบุรี.xlsx

In [ ]:
result.columns

Index(['ปี/เดือน/วัน', 'ชั่วโมง', 'CO', 'NO2', 'O3', 'PM10', 'PM2.5',
       'Wind speed', 'Wind dir', 'Temp', 'Rel hum', 'Station', 'index', ' CO ',
       ' NO2', 'SO2', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', ' SO2 ',
       ' NO ', ' NOX ', ' Total HC', 'CH4 (ppm)'],
      dtype='object')

In [ ]:
result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 811800 entries, 0 to 811799
Data columns (total 24 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   ปี/เดือน/วัน  811800 non-null  float64
 1   ชั่วโมง       811800 non-null  float64
 2   CO            642573 non-null  object
 3   NO2           124717 non-null  object
 4   O3            611002 non-null  object
 5   PM10          757079 non-null  object
 6   PM2.5         363029 non-null  object
 7   Wind speed    708597 non-null  object
 8   Wind dir      704015 non-null  object
 9   Temp          709948 non-null  object
 10  Rel hum       582976 non-null  object
 11  Station       811800 non-null  object
 12  index         598190 non-null  float64
 13   CO           10376 non-null   object
 14   NO2          547976 non-null  object
 15  SO2           35430 non-null   object
 16  Unnamed: 8    1 non-null       float64
 17  Unnamed: 9    1 non-null       float64
 18  Unnamed: 10   1 non-null       float64
 19   SO2          437117 non-null  object
 20   NO           61368 non-null   object
 21   NOX          61368 non-null   object
 22   Total HC     61368 non-null   object
 23  CH4 (ppm)     61368 non-null   object
dtypes: float64(6), object(18)
memory usage: 148.6+ MB

In [ ]:
result1 = result.copy()

In [ ]:
#result = result1.copy()

**J ลืมดู sheet อื่นๆ**

In [ ]:
path = "/content/drive/MyDrive/DataScience_finalproject/PCD Data/Data before 2020-9/0hasPM2.5col/J"
filelist = ["(53t)สถานีตำรวจนครบาลโชคชัย.xlsx","(61t)โรงเรียนบดินทรเดชา (สิงห์ สิงหเสนี).xlsx"]

In [ ]:
for f in filelist:
  filepath = path+"/"+f
  df0 = pd.read_excel(filepath,usecols="A:J",na_values="-",sheet_name=None)
  print(f)
  for sheet in list(df0.keys())[1:]:
    df = df0[sheet]
    df.drop(index=df.index[0], axis=0, inplace=True)
  
    colRename(df)

    # add station column
    df["Station"] = f[1:4]

    # join traffic
    df = df.join(traffic.set_index(['ปี/เดือน/วัน','ชั่วโมง']), on=['ปี/เดือน/วัน','ชั่วโมง'])

    result = result.append(df,ignore_index=True)

(53t)สถานีตำรวจนครบาลโชคชัย.xlsx
(61t)โรงเรียนบดินทรเดชา (สิงห์ สิงหเสนี).xlsx

In [ ]:
result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94944 entries, 0 to 94943
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ปี/เดือน/วัน  94944 non-null  float64
 1   ชั่วโมง       94944 non-null  float64
 2   CO            52045 non-null  object
 3   O3            44909 non-null  object
 4    NO2          84627 non-null  object
 5    SO2          42968 non-null  object
 6   PM10          81436 non-null  object
 7   Rel hum       55830 non-null  object
 8   Temp          88843 non-null  object
 9   Wind dir      84465 non-null  object
 10  Wind speed    86555 non-null  object
 11  PM2.5         78622 non-null  object
 12  Station       94944 non-null  object
 13  index         86067 non-null  float64
dtypes: float64(3), object(11)
memory usage: 10.1+ MB

# *L*

In [ ]:
path = "/content/drive/MyDrive/DataScience_finalproject/PCD Data/Data before 2020-9/0hasPM2.5col/L"

In [ ]:
filelist = []
for (dirpath, dirnames, filenames) in walk(path):
    filelist += filenames
filelist

['(42t)สำนักงานสิ่งแวดล้อมภาคที่ 14 สุราษฎร์ธานี.xlsx',
 '(44t)เทศบาลนครหาดใหญ่ จ.สงขลา.xlsx',
 '(41t)โครงการชลประทานนครสวรรค์.xlsx',
 '(68t)อุตุนิยมวิทยาจังหวัดลำพูน.xlsx',
 '(47t)สถานีโรงสูบน้ำประตูพลแสน จ.นครราชสีมา.xlsx',
 '(43t)ศุนย์บริการสาธารณสุขนครภูเก็ต.xlsx',
 '(30t)สำนักงานเกษตรจังหวัดระยอง.xlsx',
 '(74t)ศูนย์ราชการจังหวัดระยอง.xlsx',
 '(24t)สถานีตำรวจภูธรตำบลหน้าพระลาน.xlsx',
 '(31t)ศูนย์วิจัยพืชไร่ระยอง.xlsx',
 '(22t)มหาวิทยาลัยสุโขทัยธรรมาธิราช.xlsx',
 '(54t)การเคหะดินแดง.xlsx',
 '(19t)การเคหะชุมชนเมืองใหม่บางพลี.xlsx',
 '(13t)การไฟฟ้าฝ่ายผลิตแห่งประเทศไทย.xlsx',
 '(18t)ศาลากลางจังหวัดสมุทรปราการ.xlsx',
 '(67t)สำนักงานเทศบาลเมืองน่าน.xlsx',
 '(37t)สถานีอุตุนิยมวิทยาลำปาง.xlsx',
 '(52t)การไฟฟ้าย่อยธนบุรี.xlsx',
 '(40t)การประปาส่วนภูมิภาคแม่เมาะ.xls',
 '(05t)กรมอุตุนิยมวิทยาบางนา.xlsx',
 '(02t)มหาวิทยาลัยราชภัฏบ้านสมเด็จเจ้าพระยา.xlsx',
 '(81t)อ่างเก็บน้ำประปา นครปฐม.xlsx',
 '(82t)สวนสาธารณะหนองถิ่น จ.หนองคาย.xlsx',
 '(75t)โรงพยาบาลเฉลิมพระเกียรติ จ.น่าน.xlsx',
 '(57t)สำนักงานทรัพยากรธรรมชาติและสิ่งแวดล้อมจังหวัดเชียงราย.xlsx']

In [ ]:
del filelist[11]
filelist

['(42t)สำนักงานสิ่งแวดล้อมภาคที่ 14 สุราษฎร์ธานี.xlsx',
 '(44t)เทศบาลนครหาดใหญ่ จ.สงขลา.xlsx',
 '(41t)โครงการชลประทานนครสวรรค์.xlsx',
 '(68t)อุตุนิยมวิทยาจังหวัดลำพูน.xlsx',
 '(47t)สถานีโรงสูบน้ำประตูพลแสน จ.นครราชสีมา.xlsx',
 '(43t)ศุนย์บริการสาธารณสุขนครภูเก็ต.xlsx',
 '(30t)สำนักงานเกษตรจังหวัดระยอง.xlsx',
 '(74t)ศูนย์ราชการจังหวัดระยอง.xlsx',
 '(24t)สถานีตำรวจภูธรตำบลหน้าพระลาน.xlsx',
 '(31t)ศูนย์วิจัยพืชไร่ระยอง.xlsx',
 '(22t)มหาวิทยาลัยสุโขทัยธรรมาธิราช.xlsx',
 '(19t)การเคหะชุมชนเมืองใหม่บางพลี.xlsx',
 '(13t)การไฟฟ้าฝ่ายผลิตแห่งประเทศไทย.xlsx',
 '(18t)ศาลากลางจังหวัดสมุทรปราการ.xlsx',
 '(67t)สำนักงานเทศบาลเมืองน่าน.xlsx',
 '(37t)สถานีอุตุนิยมวิทยาลำปาง.xlsx',
 '(52t)การไฟฟ้าย่อยธนบุรี.xlsx',
 '(40t)การประปาส่วนภูมิภาคแม่เมาะ.xls',
 '(05t)กรมอุตุนิยมวิทยาบางนา.xlsx',
 '(02t)มหาวิทยาลัยราชภัฏบ้านสมเด็จเจ้าพระยา.xlsx',
 '(81t)อ่างเก็บน้ำประปา นครปฐม.xlsx',
 '(82t)สวนสาธารณะหนองถิ่น จ.หนองคาย.xlsx',
 '(75t)โรงพยาบาลเฉลิมพระเกียรติ จ.น่าน.xlsx',
 '(57t)สำนักงานทรัพยากรธรรมชาติและสิ่งแวดล้อมจังหวัดเชียงราย.xlsx']

In [ ]:
del filelist[16]
filelist

['(42t)สำนักงานสิ่งแวดล้อมภาคที่ 14 สุราษฎร์ธานี.xlsx',
 '(44t)เทศบาลนครหาดใหญ่ จ.สงขลา.xlsx',
 '(41t)โครงการชลประทานนครสวรรค์.xlsx',
 '(68t)อุตุนิยมวิทยาจังหวัดลำพูน.xlsx',
 '(47t)สถานีโรงสูบน้ำประตูพลแสน จ.นครราชสีมา.xlsx',
 '(43t)ศุนย์บริการสาธารณสุขนครภูเก็ต.xlsx',
 '(30t)สำนักงานเกษตรจังหวัดระยอง.xlsx',
 '(74t)ศูนย์ราชการจังหวัดระยอง.xlsx',
 '(24t)สถานีตำรวจภูธรตำบลหน้าพระลาน.xlsx',
 '(31t)ศูนย์วิจัยพืชไร่ระยอง.xlsx',
 '(22t)มหาวิทยาลัยสุโขทัยธรรมาธิราช.xlsx',
 '(19t)การเคหะชุมชนเมืองใหม่บางพลี.xlsx',
 '(13t)การไฟฟ้าฝ่ายผลิตแห่งประเทศไทย.xlsx',
 '(18t)ศาลากลางจังหวัดสมุทรปราการ.xlsx',
 '(67t)สำนักงานเทศบาลเมืองน่าน.xlsx',
 '(37t)สถานีอุตุนิยมวิทยาลำปาง.xlsx',
 '(40t)การประปาส่วนภูมิภาคแม่เมาะ.xls',
 '(05t)กรมอุตุนิยมวิทยาบางนา.xlsx',
 '(02t)มหาวิทยาลัยราชภัฏบ้านสมเด็จเจ้าพระยา.xlsx',
 '(81t)อ่างเก็บน้ำประปา นครปฐม.xlsx',
 '(82t)สวนสาธารณะหนองถิ่น จ.หนองคาย.xlsx',
 '(75t)โรงพยาบาลเฉลิมพระเกียรติ จ.น่าน.xlsx',
 '(57t)สำนักงานทรัพยากรธรรมชาติและสิ่งแวดล้อมจังหวัดเชียงราย.xlsx']

In [ ]:
del filelist[15]
filelist

['(42t)สำนักงานสิ่งแวดล้อมภาคที่ 14 สุราษฎร์ธานี.xlsx',
 '(44t)เทศบาลนครหาดใหญ่ จ.สงขลา.xlsx',
 '(41t)โครงการชลประทานนครสวรรค์.xlsx',
 '(68t)อุตุนิยมวิทยาจังหวัดลำพูน.xlsx',
 '(47t)สถานีโรงสูบน้ำประตูพลแสน จ.นครราชสีมา.xlsx',
 '(43t)ศุนย์บริการสาธารณสุขนครภูเก็ต.xlsx',
 '(30t)สำนักงานเกษตรจังหวัดระยอง.xlsx',
 '(74t)ศูนย์ราชการจังหวัดระยอง.xlsx',
 '(24t)สถานีตำรวจภูธรตำบลหน้าพระลาน.xlsx',
 '(31t)ศูนย์วิจัยพืชไร่ระยอง.xlsx',
 '(22t)มหาวิทยาลัยสุโขทัยธรรมาธิราช.xlsx',
 '(19t)การเคหะชุมชนเมืองใหม่บางพลี.xlsx',
 '(13t)การไฟฟ้าฝ่ายผลิตแห่งประเทศไทย.xlsx',
 '(18t)ศาลากลางจังหวัดสมุทรปราการ.xlsx',
 '(67t)สำนักงานเทศบาลเมืองน่าน.xlsx',
 '(40t)การประปาส่วนภูมิภาคแม่เมาะ.xls',
 '(05t)กรมอุตุนิยมวิทยาบางนา.xlsx',
 '(02t)มหาวิทยาลัยราชภัฏบ้านสมเด็จเจ้าพระยา.xlsx',
 '(81t)อ่างเก็บน้ำประปา นครปฐม.xlsx',
 '(82t)สวนสาธารณะหนองถิ่น จ.หนองคาย.xlsx',
 '(75t)โรงพยาบาลเฉลิมพระเกียรติ จ.น่าน.xlsx',
 '(57t)สำนักงานทรัพยากรธรรมชาติและสิ่งแวดล้อมจังหวัดเชียงราย.xlsx']

*L1*

In [ ]:
p = path+"/"+filelist[0]
resultdic = pd.read_excel(p,usecols="A:L",na_values="-",sheet_name=None)

result = resultdic[list(resultdic.keys())[0]]
result.drop(index=result.index[0], axis=0, inplace=True)

colRename(result)

result["Station"] = filelist[0][1:4]

result = result.join(traffic.set_index(['ปี/เดือน/วัน','ชั่วโมง']), on=['ปี/เดือน/วัน','ชั่วโมง'])

In [ ]:
result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 61368 entries, 1 to 61368
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ปี/เดือน/วัน  61368 non-null  float64
 1   ชั่วโมง       61368 non-null  float64
 2   CO            49880 non-null  object
 3   O3            50395 non-null  object
 4    NO2          50517 non-null  object
 5    SO2          48705 non-null  object
 6   PM10          51396 non-null  object
 7   Rel hum       50848 non-null  object
 8   Temp          50623 non-null  object
 9   Wind dir      51028 non-null  object
 10  Wind speed    51479 non-null  object
 11  Unnamed: 11   0 non-null      float64
 12  Station       61368 non-null  object
 13  index         40386 non-null  float64
dtypes: float64(4), object(10)
memory usage: 7.0+ MB

In [ ]:
for f in filelist[1:13]:
  filepath = path+"/"+f
  df0 = pd.read_excel(filepath,usecols="A:L",na_values="-",sheet_name=None)
  print(f)
  for sheet in list(df0.keys()):
    df = df0[sheet]
    df.drop(index=df.index[0], axis=0, inplace=True)
  
    colRename(df)

    # add station column
    df["Station"] = f[1:4]

    # join traffic
    df = df.join(traffic.set_index(['ปี/เดือน/วัน','ชั่วโมง']), on=['ปี/เดือน/วัน','ชั่วโมง'])

    result = result.append(df,ignore_index=True)

(44t)เทศบาลนครหาดใหญ่ จ.สงขลา.xlsx
(41t)โครงการชลประทานนครสวรรค์.xlsx
(68t)อุตุนิยมวิทยาจังหวัดลำพูน.xlsx
(47t)สถานีโรงสูบน้ำประตูพลแสน จ.นครราชสีมา.xlsx
(43t)ศุนย์บริการสาธารณสุขนครภูเก็ต.xlsx
(30t)สำนักงานเกษตรจังหวัดระยอง.xlsx
(74t)ศูนย์ราชการจังหวัดระยอง.xlsx
(24t)สถานีตำรวจภูธรตำบลหน้าพระลาน.xlsx
(31t)ศูนย์วิจัยพืชไร่ระยอง.xlsx
(22t)มหาวิทยาลัยสุโขทัยธรรมาธิราช.xlsx
(19t)การเคหะชุมชนเมืองใหม่บางพลี.xlsx
(13t)การไฟฟ้าฝ่ายผลิตแห่งประเทศไทย.xlsx

In [ ]:
result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1080312 entries, 0 to 1080311
Data columns (total 18 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   ปี/เดือน/วัน  1080312 non-null  float64
 1   ชั่วโมง       1080312 non-null  float64
 2   CO            889836 non-null   object
 3    NO2          853484 non-null   object
 4    SO2          865200 non-null   object
 5   O3            874899 non-null   object
 6   PM10          943344 non-null   object
 7   Wind speed    832264 non-null   object
 8   Wind dir      948359 non-null   object
 9   Temp          954310 non-null   object
 10  Rel hum       948815 non-null   object
 11  PM2.5         344473 non-null   object
 12  Station       1080312 non-null  object
 13  index         844353 non-null   float64
 14   WS           71644 non-null    object
 15  Unnamed: 11   1 non-null        float64
 16   Pressure     105127 non-null   object
 17   Rain         55474 non-null    object
dtypes: float64(4), object(14)
memory usage: 148.4+ MB

*L2*

In [ ]:
p = path+"/"+filelist[13]
resultdic = pd.read_excel(p,usecols="A:L",na_values="-",sheet_name=None)

result = resultdic[list(resultdic.keys())[1]]
result.drop(index=result.index[0], axis=0, inplace=True)

colRename(result)

result["Station"] = filelist[0][1:4]

result = result.join(traffic.set_index(['ปี/เดือน/วัน','ชั่วโมง']), on=['ปี/เดือน/วัน','ชั่วโมง'])

In [ ]:
result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32856 entries, 1 to 32856
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ปี/เดือน/วัน  32856 non-null  float64
 1   ชั่วโมง       32856 non-null  float64
 2   CO            24514 non-null  object
 3   O3            26451 non-null  object
 4    NO2          26848 non-null  object
 5    SO2          21388 non-null  object
 6   PM10          21471 non-null  object
 7   Rel hum       27063 non-null  object
 8   Temp          27625 non-null  object
 9   Wind dir      23080 non-null  object
 10  Wind speed    25375 non-null  object
 11  PM2.5         18886 non-null  object
 12  Station       32856 non-null  object
 13  index         29773 non-null  float64
dtypes: float64(3), object(11)
memory usage: 3.8+ MB

In [ ]:
for f in filelist[14:]:
  filepath = path+"/"+f
  df0 = pd.read_excel(filepath,usecols="A:L",na_values="-",sheet_name=None)
  print(f)
  for sheet in list(df0.keys()):
    df = df0[sheet]
    df.drop(index=df.index[0], axis=0, inplace=True)
  
    colRename(df)

    # add station column
    df["Station"] = f[1:4]

    # join traffic
    df = df.join(traffic.set_index(['ปี/เดือน/วัน','ชั่วโมง']), on=['ปี/เดือน/วัน','ชั่วโมง'])

    result = result.append(df,ignore_index=True)

(67t)สำนักงานเทศบาลเมืองน่าน.xlsx

ImportError: ignored

# *M*

In [ ]:
result1 = result.copy()

In [ ]:
# result = result1.copy()
# result

In [ ]:
path = "/content/drive/MyDrive/DataScience_finalproject/PCD Data/Data before 2020-9/0hasPM2.5col/M"

In [ ]:
filelist = []
for (dirpath, dirnames, filenames) in walk(path):
    filelist += filenames
filelist

['(14t)แขวงการทางสมุทรสาคร.xlsx',
 '(08t)ศูนย์ฟื้นฟูอาชีพคนพิการและทุพพลภาพพระประแดง.xlsx']

In [ ]:
for f in filelist[1:]:
  filepath = path+"/"+f
  df0 = pd.read_excel(filepath,usecols="A:M",na_values="-",sheet_name=None)
  print(f)
  for sheet in list(df0.keys()):
    df = df0[sheet]
    df.drop(index=df.index[0], axis=0, inplace=True)
  
    colRename(df)

    # add station column
    df["Station"] = f[1:4]

    # join traffic
    df = df.join(traffic.set_index(['ปี/เดือน/วัน','ชั่วโมง']), on=['ปี/เดือน/วัน','ชั่วโมง'])

    result = result.append(df,ignore_index=True)

(08t)ศูนย์ฟื้นฟูอาชีพคนพิการและทุพพลภาพพระประแดง.xlsx

In [ ]:
result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127080 entries, 0 to 127079
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   ปี/เดือน/วัน  127080 non-null  float64
 1   ชั่วโมง       127080 non-null  float64
 2   CO            99084 non-null   object
 3   O3            98549 non-null   object
 4    NO2          103074 non-null  object
 5    SO2          100736 non-null  object
 6   PM10          94142 non-null   object
 7   Rel hum       110696 non-null  object
 8   Temp          109606 non-null  object
 9   Wind dir      107159 non-null  object
 10  Wind speed    107904 non-null  object
 11  PM2.5         55190 non-null   object
 12  Station       127080 non-null  object
 13  index         99932 non-null   float64
 14  Unnamed: 12   1 non-null       float64
 15   Rain         32655 non-null   object
dtypes: float64(4), object(12)
memory usage: 15.5+ MB

# *N*

In [ ]:
path = "/content/drive/MyDrive/DataScience_finalproject/PCD Data/Data before 2020-9/0hasPM2.5col/N"

In [ ]:
filelist = []
for (dirpath, dirnames, filenames) in walk(path):
    filelist += filenames
filelist

['(84t)สำนักงานสาธารณสุขจังหวัดสมุทรสงคราม.xlsx']

In [ ]:
p = path+"/"+filelist[0]
resultdic = pd.read_excel(p,usecols="A:N",na_values="-",sheet_name=None)

result = resultdic[list(resultdic.keys())[0]]
result.drop(index=result.index[0], axis=0, inplace=True)

colRename(result)

result["Station"] = filelist[0][1:4]

result = result.join(traffic.set_index(['ปี/เดือน/วัน','ชั่วโมง']), on=['ปี/เดือน/วัน','ชั่วโมง'])

In [ ]:
result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5136 entries, 1 to 5136
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ปี/เดือน/วัน  5136 non-null   float64
 1   ชั่วโมง       5136 non-null   float64
 2   PM10          5014 non-null   object
 3   PM2.5         5014 non-null   object
 4    CO           4776 non-null   object
 5   NO            4761 non-null   object
 6   NO2           4761 non-null   object
 7   Nox           4761 non-null   object
 8   SO2           4772 non-null   object
 9   O3            4770 non-null   object
 10  Wind speed    5029 non-null   object
 11   WD           5027 non-null   object
 12  Temp          4976 non-null   object
 13   RH           5037 non-null   object
 14  Station       5136 non-null   object
 15  index         5136 non-null   float64
dtypes: float64(3), object(13)
memory usage: 682.1+ KB

# Data prep1 + Save excel

In [ ]:
result_nn = result[result["PM2.5"].isnull() == False]
result_nn

,ปี/เดือน/วัน,ชั่วโมง,CO,O3,NO2,SO2,PM10,Rel hum,Temp,Wind dir,Wind speed,PM2.5,Station,index,Unnamed: 12,Rain
13560,180720.0,100.0,0.08,15,4,2,20,80,28.7,205,3.7,7,42t,1.458333,NaN,NaN
13561,180720.0,200.0,0.08,16,3,1,32,80,28.6,206,3.7,10,42t,1.554545,NaN,NaN
13562,180720.0,300.0,0.08,16,3,1,30,81,28.5,205,3.8,12,42t,1.275000,NaN,NaN
13563,180720.0,400.0,0.08,16,2,0,33,82,28.4,206,3.9,11,42t,1.091667,NaN,NaN
13564,180720.0,500.0,0.1,15,3,0,29,83,28.3,204,3.1,14,42t,1.883333,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127075,200930.0,2000.0,NaN,NaN,19,3,23,66,29.3,332,1.1,14,08t,5.466667,NaN,0
127076,200930.0,2100.0,NaN,NaN,18,3,31,70,28.7,337,0.7,12,08t,4.166667,NaN,0
127077,200930.0,2200.0,NaN,NaN,17,3,35,74,28.3,340,0.6,16,08t,2.091667,NaN,0
127078,200930.0,2300.0,NaN,NaN,16,2,36,76,27.9,330,0.8,22,08t,1.725000,NaN,0
127079,200930.0,2400.0,NaN,NaN,15,2,23,76,27.6,335,0.7,14,08t,2.158333,NaN,0

In [ ]:
result_nn.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55190 entries, 13560 to 127079
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ปี/เดือน/วัน  55190 non-null  float64
 1   ชั่วโมง       55190 non-null  float64
 2   CO            47207 non-null  object
 3   O3            47877 non-null  object
 4    NO2          52032 non-null  object
 5    SO2          52178 non-null  object
 6   PM10          54409 non-null  object
 7   Rel hum       54273 non-null  object
 8   Temp          54651 non-null  object
 9   Wind dir      54650 non-null  object
 10  Wind speed    54635 non-null  object
 11  PM2.5         55190 non-null  object
 12  Station       55190 non-null  object
 13  index         51873 non-null  float64
 14  Unnamed: 12   0 non-null      float64
 15   Rain         32131 non-null  object
dtypes: float64(4), object(12)
memory usage: 7.2+ MB

In [ ]:
wanted = ["ปี/เดือน/วัน","ชั่วโมง","PM10","PM2.5","Wind speed","Wind dir","Temp","Rel hum","Station","index"]
result_nn[wanted]

,ปี/เดือน/วัน,ชั่วโมง,PM10,PM2.5,Wind speed,Wind dir,Temp,Rel hum,Station,index
13560,180720.0,100.0,20,7,3.7,205,28.7,80,42t,1.458333
13561,180720.0,200.0,32,10,3.7,206,28.6,80,42t,1.554545
13562,180720.0,300.0,30,12,3.8,205,28.5,81,42t,1.275000
13563,180720.0,400.0,33,11,3.9,206,28.4,82,42t,1.091667
13564,180720.0,500.0,29,14,3.1,204,28.3,83,42t,1.883333
...,...,...,...,...,...,...,...,...,...,...
127075,200930.0,2000.0,23,14,1.1,332,29.3,66,08t,5.466667
127076,200930.0,2100.0,31,12,0.7,337,28.7,70,08t,4.166667
127077,200930.0,2200.0,35,16,0.6,340,28.3,74,08t,2.091667
127078,200930.0,2300.0,36,22,0.8,330,27.9,76,08t,1.725000
127079,200930.0,2400.0,23,14,0.7,335,27.6,76,08t,2.158333

In [ ]:
result_nn[wanted].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55190 entries, 13560 to 127079
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ปี/เดือน/วัน  55190 non-null  float64
 1   ชั่วโมง       55190 non-null  float64
 2   PM10          54409 non-null  object
 3   PM2.5         55190 non-null  object
 4   Wind speed    54635 non-null  object
 5   Wind dir      54650 non-null  object
 6   Temp          54651 non-null  object
 7   Rel hum       54273 non-null  object
 8   Station       55190 non-null  object
 9   index         51873 non-null  float64
dtypes: float64(3), object(7)
memory usage: 4.6+ MB

In [ ]:
result_nn[wanted].to_excel("train_L2M.xlsx")